a {
    text-decoration: none;
    color: white;
}

.panda-bg-banner {
    background-color: #fceae8;
}

.bg-gray {
    background-color: rgb(128, 128, 128);
}

#categories img {
    width: 100px;
}

.rounded-3 {
    border-radius: 1rem !important;
}

.panda-text-color {
    color: #FF458F;
}

.buy-now-btn {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
}

.carousel-control-next,
.carousel-control-prev {
    width: 3%;
}

.panda-shadow {
    box-shadow: 5px 5px 10px 1px gray;
}
